* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #f6f8f9;
}

header {
    background-color: white;
}

nav {
    padding: 1rem;
    border-bottom: 1px solid black;
    padding-left: 3rem;
    margin-bottom: 2rem;
}

h2 {
    padding-bottom: 1rem;
}

.logo {
    margin: 1rem;
    vertical-align: middle;
}

.title {
    display: inline-block;
    font-size: 3rem;
    vertical-align: middle;

}

.nav-text {
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.nav-text.blue {
    background-color: #4596fa;
}

.nav-text.white {
    background-color: white;
    color: grey;
}

.main-text {
    display: inline-block;
    margin-bottom: 1rem;
}

.button-task {
    border-radius: 10px;
    padding: 4px 6px;
    color: white;
    margin-left: 0.5rem;
    border: 1px solid white;
}

.Ed {
    background-color: #4596fa;
}

.Q1 {
    background-color: #ad68e1;
}

.Re {
    background-color: #3bcf8b;
}

.Mo {
    background-color: #ff9941;
}

.Web {
    background-color: #f14fb0;
}

.Sal {
    background-color: #c0e749;
}

.space {
    margin-bottom: 2rem;
    padding-left: 3rem;
}

.container {
    background-color: white;
    width: 1000px;
    margin: auto;
    margin-top: 3rem;
}